.price {
  font-size: 18px;
  font-family: @font-family-bebas;
  font-weight: 700;
  letter-spacing: @letter-spacing;

  .wallet {
    font-size: 12px;
  }
}

.price-dots {
  display: inline-block;
  border-bottom: 2px dotted @light_silver;
  flex-grow: 25;
  margin: 0 2px;
  max-width: 490px;

  @media all and (max-width: @screen-sm) {
    max-width: 290px;
  }
}