.startscreen {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% 743px;
  //background-image: url(../img/start_bg.jpg);
  position: relative;
}

.startscreen-weddings {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}