.startscreen {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  //height: 100vh;
  //height: calc(100% - 41px);
  //margin-bottom: -141px;
  //padding-bottom: 141px;

  &__weddings {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(../img/wedding_bg1.jpg);
    
    //&--friends {
    //  background-image: url(../img/wedding_bg2.jpg);
    //}
  }
}