
@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/bebas/BebasNeue Bold.eot');
    src: local('☺'), url('../fonts/bebas/BebasNeue Bold.woff') format('woff'),
    url('../fonts/bebas/BebasNeue Bold.ttf') format('truetype'),
    url('../fonts/bebas//BebasNeue Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/bebas/BebasNeue Regular.eot');
    src: local('☺'), url('../fonts/bebas/BebasNeue Regular.woff') format('woff'),
    url('../fonts/bebas/BebasNeue Regular.ttf') format('truetype'),
    url('../fonts/bebas/BebasNeue Regular.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/bebas/BebasNeue Book.eot');
    src: local('☺'), url('../fonts/bebas/BebasNeue Book.woff') format('woff'),
    url('../fonts/bebas/BebasNeue Book.ttf') format('truetype'),
    url('../fonts/bebas/BebasNeue Book.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/bebas/BebasNeue Light.eot');
    src: local('☺'), url('../fonts/bebas/BebasNeue Light.woff') format('woff'),
    url('../fonts/bebas/BebasNeue Light.ttf') format('truetype'),
    url('../fonts/bebas/BebasNeue Light.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/bebas/BebasNeue Thin.eot');
    src: local('☺'), url('../fonts/bebas/BebasNeue Thin.woff') format('woff'),
    url('../fonts/bebas/BebasNeue Thin.ttf') format('truetype'),
    url('../fonts/bebas/BebasNeue Thin.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextCondPro';
    src: url('../fonts/din/PF Din Text Cond Pro Bold.eot');
    src: local('☺'), url('../fonts/din/PF Din Text Cond Pro Bold.woff') format('woff'),
    url('../fonts/din/PF Din Text Cond Pro Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/din/PF Din Text Cond Pro Bold.ttf') format('truetype'),
    url('../fonts/din/PF Din Text Cond Pro Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextCondPro';
    src: url('../fonts/din/PF Din Text Cond Pro Medium.eot');
    src: local('☺'), url('../fonts/din/PF Din Text Cond Pro Medium.woff') format('woff'),
    url('../fonts/din/PF Din Text Cond Pro Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/din/PF Din Text Cond Pro Medium.ttf') format('truetype'),
    url('../fonts/din/PF Din Text Cond Pro Medium.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextCondPro';
    src: url('../fonts/din/PF Din Text Cond Pro Regular.eot');
    src: local('☺'), url('../fonts/din/PF Din Text Cond Pro Regular.woff') format('woff'),
    url('../fonts/din/PF Din Text Cond Pro Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/din/PF Din Text Cond Pro Regular.ttf') format('truetype'),
    url('../fonts/din/PF Din Text Cond Pro Regular.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextCondPro';
    src: url('../fonts/din/PF Din Text Cond Pro Light.eot');
    src: local('☺'), url('../fonts/din/PF Din Text Cond Pro Light.woff') format('woff'),
    url('../fonts/din/PF Din Text Cond Pro Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/din/PF Din Text Cond Pro Light.ttf') format('truetype'),
    url('../fonts/din/PF Din Text Cond Pro Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextCondPro';
    src: url('../fonts/din/PF Din Text Cond Pro Thin.eot');
    src: local('☺'), url('../fonts/din/PF Din Text Cond Pro Thin.woff') format('woff'),
    url('../fonts/din/PF Din Text Cond Pro Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/din/PF Din Text Cond Pro Thin.ttf') format('truetype'),
    url('../fonts/din/PF Din Text Cond Pro Thin.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}
